<nb-card>
    <nb-card-header>
      Affecter produits/ingrédients
    </nb-card-header>
  
    <nb-card-body>
      <nb-alert>
        Choisissez un produit pour pouvoir manipuler ses ingrédients.
      </nb-alert>
  
      <div class="form-group row">
        <label for="inputEmail1" class="label col-sm-3 col-form-label">Choisi un produit</label>
        <div class="col-sm-9">
          <nb-select [(selected)]="selectedProduct" (selectedChange)="toggleLoadingAnimation()">
            <nb-option *ngFor="let u of product" [value]="u.id">{{u.Reference}}</nb-option>
          </nb-select>
        </div>
      </div>
  
    </nb-card-body>
  </nb-card>
  
  <div class="lists row">
    <div class="col-md-6 col-lg-6 col-xxxl-6">
      <nb-card class="list-card" size="small" [nbSpinner]="loading" nbSpinnerStatus="primary">
        <nb-card-header>Ingrédients de produit </nb-card-header>
        <nb-list >
          <nb-list-item *ngFor="let ingr of ProductIngredients">
  
            <button nbButton hero status="danger" type="submit"  (click)="onDelete(ingr.id)" >
              <nb-icon icon="trash"></nb-icon>
            </button>
            <nb-user [name]="ingr.IngredientName" [title]="ingr.IngredientType">
            </nb-user>
  
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <div class="col-md-6 col-lg-6 col-xxxl-6">
      <nb-card class="list-card" size="small" [nbSpinner]="loading" nbSpinnerStatus="primary">
        <nb-card-header>Autres Ingrédients </nb-card-header>
        <nb-list >
          <nb-list-item *ngFor="let user of Others">
  
            <button nbButton hero type="submit" status="primary" (click)="onAdd(user.id)" >
              <nb-icon icon="plus"></nb-icon>
            </button>
            <nb-user [name]="user.IngredientName" [title]="user.IngredientType">
            </nb-user>
  
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  
    
  </div>