<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Sélectionner un produit</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <label for="reference" class="label col-sm-3 col-form-label"
            >Référence</label
          >
          <div class="col-sm-9">
            <nb-select selected="1" id="reference">
              <nb-option value="1">Produit 1</nb-option>
              <nb-option value="2">Produit 2</nb-option>
            </nb-select>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Image du Produit</nb-card-header>
      <nb-card-body>
        <img
          src="../../../../assets/images/product_icon.png"
          alt="image"
          class="col-lg-6 center"
        />

        <button nbButton outline status="primary">
          <nb-icon icon="save"></nb-icon> Changer image
        </button>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Détails Produit</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="nom" class="label">Nom Produit</label>
            <input type="text" nbInput fullWidth id="nom" placeholder="Nom" />
          </div>
          <div class="form-group">
            <label for="reference" class="label">Référence</label>
            <input
              disabled
              type="text"
              nbInput
              fullWidth
              id="reference"
              placeholder="Référence"
            />
          </div>
          <div class="form-group">
            <label for="price" class="label">Prix</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="price"
              placeholder="Prix"
            />
          </div>
          <div class="form-group">
            <label for="rank" class="label">Score</label>
            <input
              disabled
              type="text"
              nbInput
              fullWidth
              id="rank"
              placeholder="Score"
            />
          </div>
          <div class="form-group row">
            <label for="reference" class="label col-sm-3 col-form-label"
              >Catégorie</label
            >

            <nb-select selected="1" id="reference">
              <nb-option value="1">Catégorie 1</nb-option>
              <nb-option value="2">Catégorie 2</nb-option>
            </nb-select>
          </div>
          <nb-card>
            <nb-card-header>Checkboxes & Radios</nb-card-header>
            <nb-card-body class="checkbox-radio">
              <div >
                <nb-checkbox>Checkbox 1</nb-checkbox>
                <nb-checkbox checked>Checkbox 2</nb-checkbox>
              </div>
              
            </nb-card-body>
          </nb-card>

          
          
          <button type="submit" nbButton status="danger">Modifier</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
